body {
  background-color: #000000;
  overflow: hidden;
}
main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 80vw;

  background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}
main .personagem {
  display: none;
  height: 100vh;
}

main .personagem.selecionado {
  display: block;
}

main .personagem .imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.card{
  width: 325px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

}
.card-content{
  color: #ffffff;
  font-family: "Rubik";
  line-height: 24px;
  font-size: 18px;
  text-align: center;
}

table {
  font-family: "Rubik";
  border-collapse: collapse;
  width: 625px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.lista1 {
  color: #ffffff;
  font-family: "Rubik";
  line-height: 24px;
  font-size: 18px;
}
.botoes {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 180px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.botoes .botao {
  border: none;
  background: #000000;
  cursor: pointer;
  border-radius: 50%;
}

ul li {
  list-style-type:none;
}

.botoes .botao img {
  border-radius: 50%;
}

.botoes .botao.selecionado {
  transform: scale(1.2);
  box-shadow: 0 0 10px #d9d9d9;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #666666;
}

button:active {
  transform: scale(0.9);
}